/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
nav,footer,header,aside{display: block;}

html,body{
	width: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
   
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 300;}

/*--------------------------------------------------------*/

@font-face {
   font-family: Roboto;
   src: url("font/Roboto-Light.ttf");
   font-weight: 300;
 }

 @font-face {
   font-family: Roboto;
   src: url("font/Roboto-Medium.ttf");
   font-weight: 500;
 }

 

body{
   margin: 0px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
   --bg-blue: #62bcba;
   --bg-pink: #bc6264;
   --bg-pinkLight: #edb0ab;
   --bg-grey:  #f0f0f0; 
   
 }



p {
   padding: 13px 10px;
   text-align: justify;
   font-size: calc(8px + 12*(35vw/640));
   line-height: 130%;

}


 li {
   margin: 5px 13px 2px 10px;
   line-height: 180%;
   text-align: justify;
   font-size: calc(8px + 12*(35vw/640));
}

 #h1 {
   font-size: calc(14px + 21*(35vw/1440));
   padding: 8px 15px;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}

#p-h1 {
   font-size: calc(8px + 20*(35vw/1440));
   margin: 10px 25%;
}



#h2_footer {
   font-size: calc(6px + 24*(100vw/1092));
   margin-top: 10px;
}

.h2_left {
   font-size: calc(12px + 24*(100vw/1092));
   padding: 20px 10px 15px 15px;
   border-bottom: 1px solid var(--bg-pink);
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   color: aliceblue;
   text-shadow: 2px 2px 2px #000000;
}

progress {
    width: 15vw;
 }
 


progress::-webkit-progress-value {
   background: var(--bg-pink);
}

progress::-webkit-progress-bar {
   background: var(--bg-pinkLight);
 }


.progress {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-right: 0px;
  
}

.all-task {
   max-width: 1920px;
   margin: 0px;
   background: var(--bg-pink);
   height: 100%;
}


.general-section {
   width: 80vw;
   margin: 0 auto;
   box-shadow: 0px 0px 16px 5px rgb(0 0 0 / 32%);
   background: var(--bg-grey);
   display: flex;
   flex-direction: row;
}

/* left-column css */

.left-column{
width: 35vw;
background: var(--bg-pinkLight);
}

.photo {
   width: 27vw;
   height: auto;
   box-shadow: 5px -5px 0px 0px var(--bg-blue);
}

.left-column-2 {
   background: var(--bg-blue);
}


.block_contacts, .block_experience, .skills {
   padding: 10px 10px 15px 20px;
   line-height: 150%;
}


.tel_email_disc {
   padding-left: 6px;
   text-decoration: double;
 }

 #color_black_contact {
   color: #000000;
   font-style: oblique;
   margin-left: 5px;
}


#color_black_1 {
   color: #000000;
   font-style: oblique;
}

#color_black_2 {
   color: #000000;
   font-style: oblique;
   font-weight: bold;
}

#color_black_3 {
   color: #000000;
   font-style: oblique;
}

#color_black_4 {
   color: #000000;
   font-style: oblique;
   font-weight: bold;
}

#color_black_bold1 {
   color: #000000;
   font-weight:bold;
}

#color_black_bold2 {
   color: #000000;
   font-weight:bold;
}

#color_black_bold3 {
   color: #000000;
   font-weight:bold;
}

/* right-column css */

.right-column{
   width: 35vw;
}
/* footer */
footer{
   background-color: var(--bg-blue); 
   flex: 0 0 auto;
   min-height: 5.5em;
}

.footer_block {
   display: flex;
   justify-content: center;
   margin: 0 auto;
}
 
 .git_logo {
   width: calc(14px + 32*(100vw/1092));
}
 
 .rs_logo {
   width: calc(34px + 82*(100vw/1092));
}

 .box {
  margin: 1.5em auto;
}


.footer_block h2 {
   font-size: 32px;
   margin-top: 8px;
}

 @media (min-width: 320px){
   .footer_block {
   max-width: 280px;
   max-height: 5em;
 }

 .general-section{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

.left-column , .right-column {
   width: 80vw;
}
.photo {
   width: 55vw;
   margin: 10% 16% 0%;
}

li, p {
   font-size: calc(4px + (80vw/30));
}

progress {
   width: 45vw;
}

#h1 {
   font-size: calc(10px + (80vw/30));
   margin: 5px 20%;
}
#p-h1 {
   font-size: calc(3px + 6*(80vw/320));
  margin: 5px 25% 15px;
}
}



@media (min-width: 385px){
   #h1 {
    font-size: calc(12px + (80vw/30));
    margin: 10px 20% 0px;
 }
 #p-h1 {
   font-size: calc(4px + 6*(80vw/385));
  margin: 10px 25% 15px;
}
}


@media (min-width: 485px){
     #h1 {
      font-size: calc(14px + 21*(80vw/485));
      margin: 5px 20%;
   }
   #p-h1 {
      font-size: calc(8px + 10*(80vw/485));
     margin: 10px 18% 15px;
   }
}





@media (min-width: 640px){
   .footer_block {
    max-width: 500px;
    min-height: 4em;
}

.general-section{
   display: flex;
   flex-direction: row;
   flex-wrap: none;
}

.left-column {
   width: 35vw;
}
  .right-column {
  width: 45vw;
      }
 .photo {
  width: 27vw;
  margin: 10% 10% 0%;
 }
      li, p {
 font-size: calc(6px + 10*(35vw/640));
}
  progress {
   width: 18vw;
}

   #h1 {
   font-size: calc(16px + 24*(35vw/640));
   margin: 12px 8%;
   }

   #p-h1 {
      font-size: calc(6px + 10*(35vw/640));
     margin: 10px 15% 15px;
   }

}



 @media (min-width: 767px){

   .general-section{
      display: flex;
      flex-direction: row;
      flex-wrap: none;
   }

   .footer_block {
   max-width: 700px;
  }

    .left-column {
width: 35vw;
   }
   .right-column {
      width: 45vw;
   }

   progress {
      width: 20vw;
   }

   li, p {
     font-size: calc(8px + 12*(35vw/767));
}
   #h1 {
   font-size: calc(18px + 25*(35vw/767));
   margin: 12px 12%;
   }

   #p-h1 {
      font-size: calc(8px + 10*(35vw/767));
     margin: 10px 16% 15px;
   }
}

@media (min-width: 925px){
   .general-section{
      display: flex;
      flex-direction: row;
      flex-wrap: none;
   }

   #h1 {
   font-size: calc(18px + 28*(35vw/925));
   margin: 12px 17%;
   }

   #p-h1 {
      font-size: calc(10px + 12*(35vw/925));
     margin: 10px 15% 15px;
   }
}

@media (min-width: 1190px){
   .general-section{
      display: flex;
      flex-direction: row;
      flex-wrap: none;
   }

   #h1 {
   font-size: calc(24px + 28*(35vw/1190));
   margin: 12px 20%;
   }
   #p-h1 {
      font-size: calc(12px + 14*(35vw/1190));
     margin: 10px 18% 15px;
   }
}




